<div *ngIf="!name ; else forminfo">
	
  <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Reactive Form</h1>
        <label>Name
          <input type="text" formControlName="name">
        </label>
		  
<!-- This goes underneath the Name label -->
<div class="alert" *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">{{ titleAlert }}</div>
		  
		  
		  <label>Email
          <input type="text" formControlName="email">
        </label>
		  
<!-- This goes underneath the Name label -->
<div class="alert" *ngIf="!rForm.controls['email'].valid && rForm.controls['email'].touched">{{ titleEmail }}</div>
		  
		  

        <label>Description
          <textarea  formControlName="description"></textarea>
        </label>
		  <!-- This goes underneath the Description label -->
<div class="alert" *ngIf="!rForm.controls['description'].valid && rForm.controls['description'].touched">{{descAlert}}</div>

        <label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!rForm.valid">
      </div>
    </div>
	  
	  <input type="file"  (change)="onFileChange($event)" >
	  
	  
  </form>
</div>


<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>

        <p>{{ description }}</p>
    </div>
  </div>
</ng-template>